# Node.js 관련
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Next.js 빌드 결과물
.next/
out/

# 환경 변수
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 로그 파일
*.log

# OS 관련
.DS_Store
Thumbs.db

# 에디터 설정
.vscode/
.idea/

# 테스트 커버리지
coverage/

# 기타 캐시
.cache/
.next/cache/
